@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*body{
  font-family: 'Montserrat', sans-serif !important;

}

/* body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif !important;
  line-height: 1.42857143;
  color: #333;
  background-color: #b17070;
} */




#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  /* background-image: url('https://img.freepik.com/free-photo/abstract-digital-grid-black-background_53876-97647.jpg?size=626&ext=jpg&ga=GA1.2.20221251.1687764704&semt=ais');
  background-size: cover; */
  
  background: #ffffff;
}
.ant-layout-header{
  line-height: 94px;
}
.ant-layout-sider{
  height: 100vh !important;
}

.ant-layout-header span svg{
  height: 25px;
  width: 25px;
  margin-left: 10px;
}

.logo{
  font-family:'Times New Roman', Times, serif;
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}
.ant-layout site-layout {
  margin: 0px 0px;
  padding: 10px;
} 
/* load the loader icon */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}

.loader-icon {
  font-size: 40px;
  color: #000000;
}


/* Job Starting page*/

.job-div {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
  padding: 16px;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 15px;
}

.job-div h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.job-div p {
  margin-bottom: 8px;
}

.job-div hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 8px 0;
}

.job-div .flex {
  display: flex;
  align-items: center;
}

/* Job Info Page*/
.job-info {
  font-family: 'Montserrat', sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  font-size: 15px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.job-info h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.job-info .company {
  font-size: 15px;
  color: #555;
  margin-bottom: 20px;
}

.job-info .description {
  margin-bottom: 20px;
}

.job-info .description h3 {
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: bold;
}

.job-info .details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.job-info .detail {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.job-info .detail h3 {
  font-size: 15px;
  margin-bottom: 8px;
  font-weight: bold;
}

.job-info .detail p {
  margin-bottom: 8px;
}


.adjust{
  font-size: 30px;
}
.ant-btn-default{
  background-color: #1f1e1e;
  color: white;
}

.ant-tabs .ant-tabs-tab-btn,.ant-menu-dark .ant-menu-item a,.ant-table-wrapper .ant-table-tbody>tr>td,.ant-table-wrapper .ant-table-thead>tr>th,label,.ant-btn,h4,.ant-input,h2,h3,p,li{
  font-family: 'Montserrat', sans-serif;
}

/* header css */
.header-content {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #ffffff; /* optional background color */
  z-index: 100; /* optional z-index to control the stacking order */
}



.filter-container {
  display: flex;
  align-items: center;
}


/* label{
  font-family: 'Montserrat', sans-serif;
} */

/* login styling part */
.login{
  padding-top: 50px;
}

.login {
  /* background-color: transparent; */
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ccc9d1; 
  background-image:url('https://t4.ftcdn.net/jpg/02/16/47/33/240_F_216473351_FCLq1pZQOBFrgcyPBphKvBd8Z5wjD1dI.jpg'); 
  /* background-image: url('https://img.freepik.com/premium-vector/futuristic-sensor-panel-with-lock-glowing-computer-circuit-board-biometric-data-security_185386-1076.jpg?w=1380'); */
  background-size: cover;
} 



.login-form {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  width: 500vh;
  padding: 40px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}


.login-form-title {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}

.login-form-button {
  
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin-top: 20px;
}

.login-form-button:hover {
  color: #fffafa;
} 

.login-form-button span {
  color: #ffffff;
} 
/* Profile Page */
input, textarea{
  /* opacity: inherit;
  z-index: auto;
  background-color: transparent;
  flood-opacity: 5%; */
  /* font-family: 'Montserrat', sans-serif; */
  border-radius: 0px !important;
  /* border: 2px solid black !important; */
}
.buttonstyle {
  background-color: 'black' !important;
  color : 'white'!important;
  border-radius: 4px!important;
  padding: '2px 16px'!important;
  margin-top: '2px'!important;
  } */

  /* Profile.css */

/* Apply styles to the form container */
/* .profile-form {
  font-family: 'Montserrat', sans-serif;
  max-width: 500vh;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Apply styles to form fields */
.profile-form .ant-form-item-label {
  text-align: left;
}

.profile-form .ant-input {
  border-radius: 4px;
}

.profile-form .ant-btn {
  margin-right: 10px;
}

/* Apply styles to tabs */
.profile-form .ant-tabs {
  margin-top: 20px;
}

.profile-form .ant-tabs-nav {
  background-color: #f5f5f5;
  border-bottom: none;
}

.profile-form .ant-tabs-nav .ant-tabs-tab {
  color: #333;
}

.profile-form .ant-tabs-nav .ant-tabs-tab-active {
  color: #1890ff;
}

.profile-form .ant-tabs-content {
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

.profile-form .ant-tabs-content .ant-form-item {
  margin-bottom: 15px;
}

.profile-form .ant-tabs-content .ant-btn {
  margin-top: 10px;
}

/* Apply styles to previous/next buttons */
 .profile-form .ant-btn {
  margin-right:10px;
}

.profile-form .ant-btn:last-child {
  margin-right: 0;
} 

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif !important;

}
html , body{
  overflow-x: hidden !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-layout-sider{
  height: 100vh !important;
}
.ant-layout-header span svg{
  height: 25px !important;
  width: 25px !important;
  margin-left: 10px !important;
}
.logo{
  
  text-align: center;
  font-size: 30px !important;
}
.logo h1{
  color: white !important;
}
.ant-layout-content{
  margin: 0 !important;
  padding: 10px !important; 
}

.sweet-loading{

    position: fixed !important;
    top : 30% !important;
    height: 100% !important;
    width: 100% !important;
    z-index: 9999;

}

.flex{
  display: flex !important;
  align-items: center !important;
}

p{
  font-weight: 500 !important;
  margin: 2px !important;
  padding : 2px !important;
  font-size: 16px !important;
}
.bs{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.job-div{
  border-radius: 15px !important;
}

button{
  background-color: #001529 !important;
  color: white !important;
  border-radius: 5px !important;
}
.login , .register{
  padding-top: 150px ;
}
input , textarea{
  border: 1px solid #001529 !important;
  box-shadow: none !important;
}

.ant-message{
  z-index: 9999 !important;
}
.ant-btn{
  height: 33px !important;
}

.login{
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  height: 100vh !important;
}
.login-form{
  background-color: white !important;
}

.register{
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  height: 100vh !important;
}
.register-form{
  background-color: white !important;
}

.heading1 , .heading2{
   font-size: 100px !important;
   color: white !important;
   text-align: center !important;
}
.heading1{
  border-top: 10px solid tomato !important;
  margin: 10px;
}

.heading2{
  border-bottom: 10px solid yellow !important;
  margin: 10px;
}
.ant-icon{
  font-size: 20px !important;
  margin-right: 5px !important;
}
.ant-menu-item{
  margin-top: 20px !important;
}
h1{
  font-size: 35px !important;
} */
